/**
 * AppTemplate Component Styles
 *
 * This stylesheet defines styles for the AppTemplate component,
 * which serves as the template for app-end pages.
 *
 * @source src/components/templates/AppTemplate.scss
 */

.app-template {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .app-template
 *   |-- .content
 */
