@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * ErrorMessage Component Styles
 *
 * This stylesheet defines styles for the ErrorMessage component.
 * It includes styling for displaying error messages with specific color and font-weight.
 *
 * @source src/components/atoms/ErrorMessage.scss
 */

.error-message {
	display: block;
	font-weight: 600;
	color: map-get($accent-colors, danger);
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .error-message
 */
