/** @source components/atoms/ErrorMesage.scss */

@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

.error-messages {
	padding: 0;

	.error-message {
		list-style: none;
        color: map-get($accent-colors, danger)
	}
}
