@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * Loading Component Styles
 *
 * This stylesheet defines styles for the Loading component.
 * It includes styling for a loading indicator with custom font weight and color.
 *
 * @source src/components/atoms/Loading.scss
 */

.loading {
	display: block;
	font-weight: 600;
	color: map-get($accent-colors, warning);
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .loading
 */
