@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * ModalOverflow Component Styles
 *
 * This stylesheet defines styles for the ModalOverflow component.
 * It includes positioning, sizing, and appearance properties for the modal dialog.
 *
 * @source src/components/atoms/ModalOverflow.scss
 */

.modal-overflow {
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 150vh;
	max-width: 900px;
	width: 90%;
	padding: 16px;
	background-color: map-get($bg-colors, light);
	border-radius: 0.5rem;
	filter: $shadow-xl;
	z-index: 2;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	cursor: pointer;
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .modal-overflow
 *   |-- .overlay
 */
