@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * ModalCenter Component Styles
 *
 * This stylesheet defines styles for the ModalCenter component.
 * It includes positioning, animation, and appearance properties for a centered modal.
 *
 * @source src/components/atoms/ModalCenter.scss
 */

.modal-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 16px;
	background-color: map-get($bg-colors, light);
	border-radius: 0.5rem;
	filter: $shadow-xl;
	z-index: 2;
	opacity: 0;
	animation: modalFadeIn 0.3s ease forwards;
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.9);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	cursor: pointer;
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .modal-center
 *   |-- .overlay
 */
