@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * DataTable Component Styles
 *
 * Styles for the DataTable component, which renders a data table with loading state and pagination.
 *
 * @source src/components/molecules/DataTable.scss
 */

.data-table {
	background-color: map-get($bg-colors, light);
	border-radius: 0.25rem;
	overflow: hidden;
	font-size: $font-size-sm;

	.data-table-wrapper {
		overflow-x: auto;

		.loading {
			text-align: center;
			padding: 8rem;
		}
	}

	.data-table-wrapper-table {
		width: 100%;
		min-width: $break-lg;
		border-collapse: collapse;
		border: 1px solid map-get($bg-colors, light-500);
	}
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .data-table
 *   |-- .data-table-wrapper
 *     |-- .loading
 *     |-- .data-table-wrapper-table
 *       |-- DataTableHeader component
 *       |-- DataTableBody component
 *       |-- DataTableFooter component
 */
