@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * DataTableHeader Component Styles
 *
 * Styles for the DataTableHeader component, which renders the header of a data table.
 *
 * @source src/components/molecules/DataTableHeader.scss
 */

.data-table-header {
	background-color: map-get($bg-colors, light-100);
	color: map-get($text-colors, dark-500);
	font-weight: 600;
	text-align: left;

	.data-table-header-row {
		.data-table-header-row-cell {
			padding: 0.5rem 0.25rem;

			&:first-of-type {
				padding: 0.5rem;
			}
		}
	}
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .data-table-header
 *   |-- .data-table-header-row
 *     |-- th (repeats based on columns)
 *     |-- th (for Actions)
 */
