@import 'src/assets/sass/variables';
@import 'src/assets/sass/colors';

/**
 * Navbar Component Styles
 *
 * Styles for the Navbar component, which includes site navigation and user profile management.
 *
 * @source src/components/organisms/Navbar.scss
 */

.navbar {
	position: sticky;
	display: block;
	top: 0;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(0.5rem);
	-webkit-backdrop-filter: blur(1rem);
	width: 100vw;
	overflow: hidden;
	transition: all 0.2s;

	&.navbar-shadow {
		filter: drop-shadow(0px 0 0.5rem rgba(0, 0, 0, 0.25));
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			max-width: 256px;
			transition: all 0.2s;

			&:hover {
				filter: hue-rotate(-30deg);
			}
		}

		.navbar-modal-buttons {
			& .navbar-modal-button {
				color: map-get($text-colors, dark);
				transition: all 0.5s;
				cursor: pointer;

				&:hover {
					color: map-get($text-colors, dark-500);
				}
			}
		}
	}
}

/* Additional Classes Used in DOM Structure (Documenting Purpose) */

/**
 * .navbar
 *   |-- nav
 *       |-- .logo
 *       |-- .navbar-modal-buttons
 *           |-- .navbar-modal-button
 */
